[alias]
    cm = commit -m
    s = status
    ss = status -s
    co = checkout
    cob = checkout -b
    ps = push
    pl = pull
    lh = log -1 --format=%H
[core]
    editor = vim
    autocrlf = input
    excludesfile = ~/.gitignore
    pager=delta
[push]
    default = simple
    autoSetupMerge = true
    followTags = true
    autoSetupRemote = true
[credential]
    helper = store
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[user]
    email = daleonpz@gmail.com
    name = dnl
    signingkey = /home/dnl/.ssh/id_ed25519.pub
[safe]
    directory = *
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[commit]
    verbose = true
    gpgSign = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[interactive]
    diffFilter = delta --color-only --features=interactive
[delta]
    features = side-by-side,syntax-highlight,decorations
    syntax-theme = "Monokai Extended"
    navigate = true
    whitespace = ignore-all
    commit-decoration-style = "bold yellow"
    commit-style = "bold yellow"
    hunk-header-style = "bold blue"
    hunk-header-decoration-style = "bold blue"
    side-by-side=true
    line-numbers = true
[merge]
    conflictstyle = diff3
    tool = vimdiff


[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = /home/dnl/.ssh/allowed_signers
